body{
    background-color: papayawhip;
    display:flow-root ;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.div_nav{
    background-color: rgb(196, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 60px;
    width: 90%;
    position: fixed;
    margin-top: 35px;
}
.a_tag_nav{
    color: white;
    background-color: rgb(196, 194, 194);
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    height: 25px;
    width: 125px;
    border: 2px solid rgb(212, 210, 210);
}
a:active{
    background-color: rgb(235, 231, 231);
    border: 5px solid rgb(241, 240, 240);
    transition: 0.89s ease;
}
.div_main{
    min-height: 500px;
    width: 90%;
    background-color: yellow;
    margin-top: 110px;
    border-radius: 10px;
    background-size: contain;
    margin-left: -2%;
    color: rgb(58, 56, 56);
    font-weight: bolder;
    display: flow-root;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
footer{
    background-color: rgb(196, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 60px;
    width: 90%;
    margin-top: 10px;
    margin-left: -2.5%;
    padding-left: 5%;
    padding-right: 5%;
}
.div_container{
    padding-top: 20px;
}
img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
}

    .map-container {
      padding: 40px 20px;
      background-color: #f9f9f9;
    }
    .map-container h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .map-frame {
      width: 100%;
      max-width: 800px;
      height: 450px;
      border: none;
    }